<main class="conteinerMasterComoAjudar">
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endif %}
    <div class="conteinerConteudoComoAjudar">
    <h1 class="titlePageComoAjudar">Você pode ajudar o <b>Instituto vidas pelo futuro</b> das seguites formas: </h1>
    <section class="conteinerVoluntario">
        <div>
            <h2>Seja um voluntário</h2>
            <p class="textoVoluntario">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolor aliquam laboriosam voluptatem, ea distinctio ducimus molestiae veniam porro qui error. Voluptatibus dolor voluptatum nesciunt distinctio vitae quam, atque culpa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur qui debitis dolores, sunt expedita quibusdam in cupiditate necessitatibus itaque, a molestiae iusto quod hic quo nisi. At nisi velit itaque.</p>
        </div>
        <div>
            <img class="imgVoluntario" src="assets/imagens/volunteer.png" alt="imagem ilustrativa sobre ser voluntário.">
        </div>
    </section>
    <section class="conteinerParceiro">
        <div>
            <h2>Seja um dos nossos parceiros</h2>
            <p class="textoParceiro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolor aliquam laboriosam voluptatem, ea distinctio ducimus molestiae veniam porro qui error. Voluptatibus dolor voluptatum nesciunt distinctio vitae quam, atque culpa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur qui debitis dolores, sunt expedita quibusdam in cupiditate necessitatibus itaque, a molestiae iusto quod hic quo nisi. At nisi velit itaque.</p>
        </div>
        <div>
            <img class="imgParceiro" src="assets/imagens/teamwork.png" alt="imagem ilustrativa sobre ser parceiro.">
        </div>
    </section>
    <section class="conteinerDoar">
        <div>
            <h2>Nos ajude através de doação</h2>
            <p class="textoDoar">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolor aliquam laboriosam voluptatem, ea distinctio ducimus molestiae veniam porro qui error. Voluptatibus dolor voluptatum nesciunt distinctio vitae quam, atque culpa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur qui debitis dolores, sunt expedita quibusdam in cupiditate necessitatibus itaque, a molestiae iusto quod hic quo nisi. At nisi velit itaque.</p>
        </div>
        <div>
            <img class="imgDoar" src="assets/imagens/gift.png" alt="imagem ilustrativa sobre doação.">
        </div>
    </section>
    <section class="conteinerCrianca">
        <div>
            <h2>Apadrinhe uma criança</h2>
            <p class="textoCrianca">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis dolor aliquam laboriosam voluptatem, ea distinctio ducimus molestiae veniam porro qui error. Voluptatibus dolor voluptatum nesciunt distinctio vitae quam, atque culpa. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur qui debitis dolores, sunt expedita quibusdam in cupiditate necessitatibus itaque, a molestiae iusto quod hic quo nisi. At nisi velit itaque.</p>
        </div>
        <div>
            <img class="imgCrianca" src="assets/imagens/kids-160168_1280.png" alt="imagem ilustrativa de crianças.">
        </div>
    </section>
    <section class="conteinerFormulario">
        <h2>Ficou Interessado?</h2>
        <p>Preencha os campos abaixo e entraremos em contato com você.</p>
        <form class="formularioContato" action="http://localhost/Projeto_Vidas_Futuro/ajuda" method="POST">
            <label for="nome">
                <input type="text" name="nome" id="nome" placeholder="Nome">
            </label>
            <label for="email">
                <input type="email" name="email" id="email" placeholder="Seu Melhor E-mail">
            </label>
            <label for="telefone">
                <input type="tel" name="telefone" id="telefone" placeholder="(99)9999-99999">
            </label>
            <input type="submit" name="SendCadContato" class="botaoFormularioContatos" value="Enviar" >
        </form>
    </section>
    </div>

</main>
<section class="voltarTopo">
    <a href="#header">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
    </a>
    </section>