<main class="conteinerMasterDoar">
    <form action="http://localhost/Projeto_Vidas_Futuro/index.php" method="POST" class="formulario">
        <div class="campos">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="campos">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha">
            <a href="http://">Esqueceu a senha?</a>
        </div>
        <div class="campos ">
            <input name="sendLogin" class="botaoEntrar" type="submit" value="Enviar">
        </div>
    </form>
</main>