<menu class="conteinerMasterPostagensCabecalho">
    <section>
        <img class="logo" src="assets/imagens/logo.png" alt="Logo do site">
    </section>
    <section>
        <h1>Instituto Vidas pelo Futuro</h1>
    </section>
</menu>
<main class="conteinerMasterPostagens">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse conteudoPostagensMenu" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column menuPostagem">
              <li class="nav-item">
                <a class="nav-link" target="_self" href="novapostagem">Nova Postagem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" target="_self" href="postagem">Postagens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_self" aria-disabled="true" title="Em breve Disponivel">Estátisticas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="configuracao" target="_self">Configurações</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout" target="_self">Sair</a>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    <section class="conteudoPostagens">
        <section class="areaConteudo">
            <div class="buttonGerenciar">Gerenciar</div>
            <section class="postagemGerenciamento">
                <div class="card">
                    <div class="gerenciar">
                        <div class="imgNoticia">
                            <img class="capaNoticia" src="assets/imagens/gestao_de_pessoas.jpg" class="img-fluid"
                                alt="...">
                        </div>
                        <div class="conteudoNoticia">
                            <div class="card-body">
                                <h5 class="card-title">Título da Notícia</h5>
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
                                    quidem rem eligendi, ut sequi facilis et voluptate obcaecati libero culpa enim
                                    maiores dicta voluptatibus perferendis quia vel autem modi quas?</p>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gerenciar
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                                        <li><a class="dropdown-item" href="#">Publicar</a></li>
                                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Segunda Notícia-->
                <div class="card">
                    <div class="gerenciar">
                        <div class="imgNoticia">
                            <img class="capaNoticia" src="assets/imagens/gestao_de_pessoas.jpg" class="img-fluid"
                                alt="...">
                        </div>
                        <div class="conteudoNoticia">
                            <div class="card-body">
                                <h5 class="card-title">Título da Notícia</h5>
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
                                    quidem rem eligendi, ut sequi facilis et voluptate obcaecati libero culpa enim
                                    maiores dicta voluptatibus perferendis quia vel autem modi quas?</p>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gerenciar
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                                        <li><a class="dropdown-item" href="#">Publicar</a></li>
                                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Terceira Notícia-->
                <div class="card">
                    <div class="gerenciar">
                        <div class="imgNoticia">
                            <img class="capaNoticia" src="assets/imagens/gestao_de_pessoas.jpg" class="img-fluid"
                                alt="...">
                        </div>
                        <div class="conteudoNoticia">
                            <div class="card-body">
                                <h5 class="card-title">Título da Notícia</h5>
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
                                    quidem rem eligendi, ut sequi facilis et voluptate obcaecati libero culpa enim
                                    maiores dicta voluptatibus perferendis quia vel autem modi quas?</p>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gerenciar
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                                        <li><a class="dropdown-item" href="#">Publicar</a></li>
                                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Quarta Notícia-->
                <div class="card">
                    <div class="gerenciar">
                        <div class="imgNoticia">
                            <img class="capaNoticia" src="assets/imagens/gestao_de_pessoas.jpg" class="img-fluid"
                                alt="...">
                        </div>
                        <div class="conteudoNoticia">
                            <div class="card-body">
                                <h5 class="card-title">Título da Notícia</h5>
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
                                    quidem rem eligendi, ut sequi facilis et voluptate obcaecati libero culpa enim
                                    maiores dicta voluptatibus perferendis quia vel autem modi quas?</p>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gerenciar
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                                        <li><a class="dropdown-item" href="#">Publicar</a></li>
                                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Quinta Notícia-->
                <div class="card">
                    <div class="gerenciar">
                        <div class="imgNoticia">
                            <img class="capaNoticia" src="assets/imagens/gestao_de_pessoas.jpg" class="img-fluid"
                                alt="...">
                        </div>
                        <div class="conteudoNoticia">
                            <div class="card-body">
                                <h5 class="card-title">Título da Notícia</h5>
                                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo
                                    quidem rem eligendi, ut sequi facilis et voluptate obcaecati libero culpa enim
                                    maiores dicta voluptatibus perferendis quia vel autem modi quas?</p>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Gerenciar
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Visualizar</a></li>
                                        <li><a class="dropdown-item" href="#">Publicar</a></li>
                                        <li><a class="dropdown-item" href="#">Excluir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

    </section>
    </section>
</main>
