
    <menu class="conteinerMasterPostagensCabecalho">
        <section>
                <img class="logo" src="assets/imagens/logo.png" alt="Logo do site">
        </section>
        <section>
            <h1>Instituto Vidas pelo Futuro</h1>
        </section>
    </menu>
    <main class="conteinerMasterPostagens">
        <section>
            
        </section>
        <nav class="conteudoPostagensMenu">
            <a href="#" class="" target="_self">Nova Postagem</a>
            <a href="#" class="active" target="_self">Postagens</a>
            <a href="#" target="_self">Estatísticas</a>
            <a href="#" target="_self">Configurações</a>
            <a href="#" target="_self">Sair</a>
            <footer class="conteinerMasterPostagensRodape">
                <div>
                    <p>Todos os diretos reservados ao <b>Instituto Vidas pelo Futuro.</b> &copy;</p>
                </div>
            </footer>
        </nav>
        <section class="conteudoPostagens">...</section>
    </main>
</body>