<section class="conteinerMasterQuemSomos">
    <div class="conteudoQuemSomos">
        <div>
            <h1>Quem Somos</h1>
        </div>
        <div>
            <h2>História da ONG</h2>
            <p>
                O Instituto Vidas pelo futuro ele foi fundado em 2020 no quintal da minha casa com intuito de sanar a fome  que a pandemia nos trouxe começamos a fazer a sacolas e distribuímos semana após semana e após alguns meses distribuindo as sacolas perceberam que a necessidade era muito maior do que uma sacola de alimentos(frutas e verduras ),e que precisamos de alguma forma contribuir para a promoção e desenvolvimento humano dessas pessoas sendo assim no mesmo ano criamos a nossa primeira sala de aula para um projeto de reforço escolar pois nossas crianças estavam sem aula  devido a pandemia e também criamos o nosso bazar  social, com o objetivo de gerar renda, mas também de auto estima,tivemos o treino funcional ,aulas de miau Thai o atendimento social com muitas doações de demandas diversas .Hoje utilizamos  uma área pública porém ainda não temos a concessão da mesma onde realizamos as nossas atividades estamos em processo da construção desse novo espaço.
            </p>
        </div>
        <div class="historiaPresidente">
            <h2>História da Presidente da ONG</h2>
            <p>
                Sou Fernanda Bento uma mulher preta mãe de cinco filhos (dentre 1 especial), conseguiu a emancipação financeira, saindo da zona de conforto .Saiu da fome e do preconceito, lutou por muitos anos contra a depressão. Formada em ciências contábeis e  técnica em projetos sociais pelo Senac tornou se  dona da  própria história não dependendo mais do governo.
            </p>
        </div>
        <div class="missao">
            <div>
                <h2>Missão da ONG</h2>
            </div>
            <p>
                Possibilitar uma realidade emancipatoria para as famílias.Oferecer uma transformação que engloba o social e psico, independente de qual seja a sua realidade.
            </p>
            <p>
                <b>Visão e propósitos:</b> oferecer uma transformação em globa o  social, psicológico e o material através da atividades de integração e sociabilidade
            </p>
            <p><b>Valores:</b> solidariedade transformação emancipatória gestão coletiva e de Cidadania
            </p>
        </div>
    </div>
</section>