html{
    overflow-x: hidden !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteinerMasterCabecalho{
    width: 100%;
    height: 12vh;
    background-color: #3D65AD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteinerMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteinerMenu .menuItem{
    padding: 0 15px;
    text-decoration: none;
    color: #F2F2F2;
    font-weight: bold;
    height: 50px;
}

.active{
    background-image: url(../imagens/star.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: bottom 1px right 50%;
}

.menuItem:hover{
    background-image: url(../imagens/star.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: bottom 1px right 50%;
}


/*rodapé*/

.conteinerMasterRodape{
    width: 100%;
    height: 25vh;
    background-color: #3D65AD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #F2F2F2;
    flex-wrap: wrap;
}

.iconesContatos{
    display: flex;
    flex-direction: column;
}

.conteinerEmail a{
    display: flex;
    flex-direction: row;
    color:#F2F2F2;
    text-decoration: none;
}

.textoEmail{
    margin-left: 2px;
}

.conteinerInstagram a{
    display: flex;
    flex-direction: row;
    color: #F2F2F2;
    text-decoration: none;
}

.textoInstagram{
    margin-left: 2px;
}

.conteinerTelefone a{
    display: flex;
    flex-direction: row;
    color: #F2F2F2;
    text-decoration: none;
}

.textoTelefone{
    margin-left: 2px;
}

/* Responsividade */

@media (max-width:999px) and ( min-width: 800px) {
    /* Cabeçalho */
    .conteinerMasterCabecalho{
        height: 32vh;
    }
    .conteinerMasterCabecalho,
    .conteinerMenu{
        display: flex;
        flex-direction: column;
    }
    /* Rodapé */
    .conteinerMasterRodape{
        height: 25vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:799px) and ( min-width: 600px) {
    /* Cabeçalho */
    .conteinerMasterCabecalho{
        height: 25vh;
    }
    /* Rodapé */
    .conteinerMasterRodape{
        height: 45vh;
    }
}

@media (max-width:599px) and (min-width: 500px) {
    .conteinerMasterCabecalho{
        height: 50vh;
    }
    .conteinerMasterCabecalho,
    .conteinerMenu{
        display: flex;
        flex-direction: column;
    }
        /* Rodapé */
        .conteinerMasterRodape{
            height: 45vh;
        }
}

@media (max-width:499px) and (min-width: 400px) {
    .conteinerMasterCabecalho{
        height: 50vh;
    }
    .conteinerMasterCabecalho,
    .conteinerMenu{
        display: flex;
        flex-direction: column;
    }
        /* Rodapé */
        .conteinerMasterRodape{
            height: 45vh;
        }
}

    @media (max-width: 399px) and (min-width: 300px) {
    .conteinerMasterCabecalho{
            height: 60vh;
    }
    .conteinerMasterCabecalho,
    .conteinerMenu{
        display: flex;
        flex-direction: column;
    }
        /* Rodapé */
        .conteinerMasterRodape{
            height: 45vh;
        }
}

    @media (max-width: 299px) and (min-width: 200px){
        .conteinerMasterCabecalho{
            height: 60vh;
        }
        .conteinerMasterCabecalho,
        .conteinerMenu{
            display: flex;
            flex-direction: column;
    }
        /* Rodapé */
        .conteinerMasterRodape{
            height: 45vh;
        }
}